<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kgmyshin.annict.auth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name="com.kgmyshin.annict.auth.ui.login.LoginActivity" />

    </application>

</manifest>
